* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #707070;
    font-family: 'Righteous', cursive;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1rem;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.wrapper {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.info-container {
    left: 1rem;
    position: relative;
    top: 1rem;
}

.category {
    background-color: #FFB156;
    border: 2px solid #F1901F;
    border-radius: 5px;
    box-shadow: 0 3px 0 #F1901F;
    color: #fff;
    font-size: .8rem;
    padding: .2rem 1rem;
}

.board {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin: 2rem 10px 0;
    text-align: center;
    transition: .5s;
    width: 100%;
} 

.hangman {
    flex-basis: 100%;
    margin: 0 auto;
    text-align: center;
}

.hangman img {
    min-height: 300px;
    width: 80vw;
}


.alphabet {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;   
    bottom: 1rem;
 } 


.char {
    align-items: center;
    background-color: #fff;
    border: 2px solid #707070;
    border-radius: 10px;
    box-shadow: 0 3px 0 #707070;
    cursor: pointer;
    display: flex;
    height: calc((100vw - 2rem) / 7 - 7px);
    justify-content: center;
    width: calc((100vw - 2rem) / 11.5 - 7px);
}

.end-win,
.end-lose {
    height: 100%;
    width: 100%;
}

.end-win span,
.end-lose span {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}

.reset {
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    padding: .8rem 1rem;
}

.end-win .reset {
    background-color: #74E074;
    border: 3px solid #00C000;
    box-shadow: 0 3px 0 #00C000;
    margin-top: 2rem;
}

.end-lose .reset {
    background-color: #FF4242;
    border: 3px solid #C00000;
    box-shadow: 0 3px 0 #C00000;
    margin-top: 2rem;
}

.win-result {
    animation: scaleEffect 1s 1;
    color: #00C000;
}

.end-win .win-txt {
    color: #00C000;
    font-size: 1.5rem;
}

.end-lose .lose {
    color: #C00000;
    font-size: 1.5rem;
}


@keyframes scaleEffect {
    0% {
        transform: scale(1);        
    }
    
    50% {
        transform: scale(1.5);
    }
    
    100% {
        transform: scale(1);
    }
}

@media (min-width: 1024px) {
    .wrapper {
        align-items: center;
    }

    .info-container {
        left: 3rem;
        position: relative;
        top: 3rem;
    }

    .board {
        font-size: 2.5rem;
    }

    .hangman {
        flex-basis: 40%;
    }

    .hangman img{
        width: 100%;
    }

    .alphabet {
        flex-basis: 50%;
        gap: 1.2rem;
        max-height: 600px;
        padding: 0 2rem 0 0;   
    }

    .char {
        font-size: 2rem;
        height: calc((30vw - 2rem) / 5 - 7px);
        width: calc((30vw - 2rem) / 5 - 7px);
    }

    .char:hover { 
        background-color: #ececec;
        border-color: #606060;
        box-shadow: 0 3px 0 #606060;
        color: #606060;
    }

    .reset {
        width: 50%;
    }   
}

